<div>
    <h3>
        <span jhiTranslate="cloiceApp.application.home.title">Applications</span>
        <button class="btn btn-primary float-right jh-create-entity create-application" (click)="newApplication()">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cloiceApp.application.home.createLabel">
            Create new Application
            </span>
        </button>
    </h3>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="applications">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="email"><span jhiTranslate="cloiceApp.application.email">Email</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="name"><span jhiTranslate="cloiceApp.application.name">Name</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="lastname"><span jhiTranslate="cloiceApp.application.lastname">Lastname</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="createDate"><span jhiTranslate="cloiceApp.application.createDate">Create Date</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="originalRecord"><span jhiTranslate="cloiceApp.application.originalRecord">Original Record</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="status"><span jhiTranslate="cloiceApp.application.status">Status</span> <span class="fa fa-sort"></span></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let application of applications ;trackBy: trackId">
                <td>{{application.email}}</td>
                <td>{{application.name}}</td>
                <td>{{application.lastname}}</td>
                <td>{{application.createDate | date:'medium'}}</td>
                <td>
                    <button *ngIf="application.originalRecord"
                            type="submit"
                            (click)="openFile(application.originalRecordContentType, application.originalRecord)"
                            class="btn btn-success">
                        <span class="fa fa-cloud-download"></span>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.download">download</span>
                    </button>
                </td>
                <td jhiTranslate="{{'cloiceApp.ApplicationState.' + application.status}}">{{application.status}}</td>
                <td>
                    <div *ngIf="displayPlayer(application)">
                    <vg-player style="height: 50px; width: 200px; font-size: 12px">
                        <vg-controls>
                            <vg-play-pause style="width: 35px;"></vg-play-pause>

                            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

                            <vg-scrub-bar>
                                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                            </vg-scrub-bar>

                            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                        </vg-controls>

                        <audio #media [vgMedia]="media" id="myAudio" preload="auto">
                            <source *ngFor="let audio of sources" [src]="audio.src" [type]="audio.type">
                        </audio>
                    </vg-player>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../application', application.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="applications && applications.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
