
<div *ngIf="application">
    <h2><span jhiTranslate="cloiceApp.application.detail.title">Application</span> {{application.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cloiceApp.application.createDate">Create Date</span></dt>
        <dd>
            <span>{{application.createDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cloiceApp.application.name">Name</span></dt>
        <dd>
            <span>{{application.name}}</span>
        </dd>
        <dt><span jhiTranslate="cloiceApp.application.lastname">Lastname</span></dt>
        <dd>
            <span>{{application.lastname}}</span>
        </dd>
        <dt><span jhiTranslate="cloiceApp.application.email">Email</span></dt>
        <dd>
            <span>{{application.email}}</span>
        </dd>
        <dt><span jhiTranslate="cloiceApp.application.originalRecord">Original Record</span></dt>
        <dd>
            <div *ngIf="application.originalRecord">
                <a (click)="openFile(application.originalRecordContentType, application.originalRecord)" jhiTranslate="entity.action.open">open</a>
                {{application.originalRecordContentType}}, {{byteSize(application.originalRecord)}}
            </div>
        </dd>
        <dt><span jhiTranslate="cloiceApp.application.notes">Notes</span></dt>
        <dd>
            <span>{{application.notes}}</span>
        </dd>
        <dt><span jhiTranslate="cloiceApp.application.originalRecordLocation">Original Record Location</span></dt>
        <dd>
            <span>{{application.originalRecordLocation}}</span>
        </dd>
        <dt><span jhiTranslate="cloiceApp.application.convertedRecordLocation">Converted Record Location</span></dt>
        <dd>
            <span>{{application.convertedRecordLocation}}</span>
        </dd>
        <dt><span jhiTranslate="cloiceApp.application.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'cloiceApp.ApplicationState.' + application.status}}">{{application.status}}</span>
        </dd>
        <dt><span jhiTranslate="cloiceApp.application.contest">Contest</span></dt>
        <dd>
            <div *ngIf="application.contest">
                <a [routerLink]="['/contest', application.contest?.id]">{{application.contest?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

</div>
