<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">_</h1>
        <p class="lead" jhiTranslate="home.subtitle">_</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account"> Hola {{account.firstName}} {{account.lastName}} ({{account.login}}). </span>
            </div>

            <div class="card" *ngSwitchCase="false" style="margin-bottom: 16px;">
                <div class="card-body" style="padding-bottom: 0px;">
                    <h5 class="card-title">Como Cliente registrado podrás</h5>
                    <ul>
                        <li>Crear y Administrar tus concursos de Voces</li>
                        <li>Consultar las aplicaciones realizadas por los usuarios de nuestra plataforma</li>
                        <li>Escuchar y Descargar las grabaciones enviadas por los usuarios</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                    <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
                </div>
            </div>

            <div class="alert alert-warning" >
                <span>Para aplicar a los concursos existentes no necesitas una cuenta, has <a class="alert-link" routerLink="contest-open">click acá</a> y comienza a llevar tu voz hasta las nubes!</span>
            </div>
        </div>
    </div>
</div>
